################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/jspm_packages
/bin/Debug/netcoreapp1.0
/node_modules
/obj/Debug/netcoreapp1.0
/wwwroot/css/vendor/bootstrap.css
/wwwroot/jspm_packages
/MyCarFiles3.xproj.user
/project.lock.json
